*.sif
*.tar
*.nii.gz
*.nii
*.h5
*.mat
*.tar.gz
nextflow/.nextflow/
nextflow/_misc/
megprep/reports/temp/
report.sh
main*.sh
nextflow/nextflow_for_*.config
softwares/
softwares/freesurfer/
softwares/debug_call_docker.sh
softwares/license.txt
softwares/run_deep.sh
softwares/tktools
.nextflow/
.venv/
megprep/temp/
megprep/tools/DeepPrep
megprep/tools/MEGNet
run_*.sh
start_vpn.sh
license.txt
_misc
megprep/docs/build/
