*.sif
*.tar
*.nii.gz
*.nii
*.h5
*.mat
nextflow/.nextflow/
nextflow/_misc/
megprep/reports/temp/
report.sh
main*.sh
nextflow/nextflow_for_*.config
softwares/
.nextflow/
.venv/
megprep/temp/
megprep/tools/DeepPrep
megprep/tools/MEGNet
run_*.sh
start_vpn.sh
license.txt
_misc
