[Unit]  
Description=Xvfb Service  
After=display-manager.service  

[Service]  
ExecStart=/usr/bin/Xvfb :99 -screen 0 1920x1080x24  
Restart=always  
RestartSec=3  
Environment=DISPLAY=:99  

[Install]  
WantedBy=multi-user.target
